<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log.base.dir">/var/log/upwork/zendesk-doc-importer</Property>
	</Properties>

	<Appenders>
		<Console name="console.appender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%t] %m%n"/>
		</Console>

		<RollingFile name="main.appender" fileName="${log.base.dir}/app.log">
			<FilePattern>${log.base.dir}/app[i].log</FilePattern>
			<Append>true</Append>
			<SizeBasedTriggeringPolicy size="10MB"/>
			<DefaultRolloverStrategy max="50" />
			<PatternLayout pattern="%d %p [%t] %m%n"/>
		</RollingFile>

		<RollingFile name="missing.docs.appender" fileName="${log.base.dir}/missing-documents.csv">
			<FilePattern>${log.base.dir}/missing-documents[i].csv</FilePattern>
			<Append>false</Append>
			<SizeBasedTriggeringPolicy size="100MB"/>
			<DefaultRolloverStrategy max="50" />
			<PatternLayout pattern="%m%n"/>
		</RollingFile>

		<RollingFile name="missing.calls.appender" fileName="${log.base.dir}/missing-calls.csv">
			<FilePattern>${log.base.dir}/missing-calls[i].csv</FilePattern>
			<Append>false</Append>
			<SizeBasedTriggeringPolicy size="100MB"/>
			<DefaultRolloverStrategy max="50" />
			<PatternLayout pattern="%m%n"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<appender-ref ref="console.appender"/>
			<appender-ref ref="main.appender"/>
		</Root>

		<!-- main -->
		<Logger level="INFO" name="co.citizenlab"/>

		<!-- missing documents -->
		<Logger level="INFO" name="missing.docs" additivity="false">
			<appender-ref ref="missing.docs.appender"/>
		</Logger>

		<!-- missing calls -->
		<Logger level="INFO" name="missing.calls" additivity="false">
			<appender-ref ref="missing.calls.appender"/>
		</Logger>
	</Loggers>
</Configuration>
